/*-- scss:defaults --*/

$primary-color: #5480a7;
$blue: #5480a7;
$primary-color-dark: #2c3f51;
$secondary-color: #56A754;
$secondary-color-trans: rgba(86, 167, 84, 0.2);
$tertiary-color: #A77B54;

$theme-black: #4c4c4c;
$theme-white: white;
$theme-grey: #e9ecef;

$theme-purple3: #88398A;
$theme-purple4: #9d709e;
$theme-purple5: #562457;
$theme-purplebrown1: #b996a4;
$theme-purplebrown2: #7c6c84;
$theme-darkcoffee1: #570e06;
$theme-darkcoffee2: #78504b;
$theme-darkcoffee3: #632e0d;
$theme-milkcoffee0: #f2ece3;
$theme-milkcoffee3: #cca79f;
$theme-milkcoffee2: #b98f68;
$theme-milkcoffee1: #9e736a;
$theme-mocha1: #7f2606;
$theme-mocha2: #9a4c28;
$theme-mocha3: #b46939;
$theme-orange: #f9af11;
$theme-berkeley: #003262;

$body-bg: $theme-white;
$body-color: $theme-black; // text color
$headings-color: $theme-black; // applies to all 
$link-color: $theme-berkeley;

$navbar-font-family: "Ubuntu";
$headings-font-family: "Ubuntu";
$font-family-base: "Ubuntu";

// code
$code-color: $theme-mocha2;
$code-bg: $theme-milkcoffee0;
$code-block-bg-alpha: -0.8;
//$code-block-border-left: TRUE;
//$code-block-border-left-style: solid;

$background-color: $theme-milkcoffee0;

// navigation
$navbar-bg: $theme-berkeley;

// callout block
$callout-color-note: $theme-black;
$callout-color-tip: $theme-black;

// font

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,600;0,800;0,900&display=swap&text=0123456789');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/*-- scss:rules --*/

body {
  font-family: "Ubuntu", $font-family-base, sans-serif;
}
div.quarto-post .metadata {
  font-family: "Ubuntu", $font-family-base, sans-serif;
}

#title-block-header {
  margin-block-end: 2rem;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: "Ubuntu", $font-family-base, sans-serif;
  font-weight: 800;
}

div.quarto-about-trestles .about-entity .about-link {
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border: solid 1.5px;
    border-color: $primary-color;
}

div.quarto-about-trestles .about-entity .about-link:hover {
    background-color: $secondary-color;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border: solid 1.5px;
    border-color: $secondary-color;
}

a {
  text-decoration: none;
  text-decoration: underline;
}

/* navbar */

.nav-link {
  font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: $secondary-color;
}

.nav-link.active {
    color: $secondary-color !important;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.carolina-blue {
  color: #4B9CD3 !important;
}

.jhu-blue {
  color: #002D72 !important;
}

.harvard-crimson {
  color: #A51C30 !important;
}

.georgetown-blue {
  color: #041E42 !important;
}

.michigan-maize {
  color: #FFCB05 !important;
}